@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* Shared styles */
.display-flex{
    display: flex;
}
.bg-dark-1{
    color: #131313;
}
.bg-header{
    background-color:  rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 20px 24px;
    font-family: "Work Sans", sans-serif;
}

/* main styles */
header{
    margin-bottom: 130px;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    
    
     

}
.brand{
    font-weight: 500;
    font-size: 2.8rem;
    color: rgb(19, 19, 19);;
}
.nav-itmes{
   gap: 20px;

}
.nav-item{
    list-style-type: none;
}
.nav-links{
    text-decoration: none;
   color:rgb(66, 66, 66);
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner style */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    color: #131313;
}

.banner-para{
    color:#727272 ;
    font-family: "Work Sans", sans-serif;
}
.banner-img{
    width: 100%;
}
/* Main-section-styles */
.main{
    max-width: 1440px;
    margin: 0 auto;
    gap: 4.2rem;
    align-items: center;

}
.main-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.1rem;
    
}
.main-img-container img{
    border-radius: 8px;
}
.main-cont-head{
    text-transform: capitalize;
}
.main-content{
    max-width: 33.56rem;
}
#Quick-list{
    color: #727272;
    font-size: 2.8rem;
    font-family: "Work Sans, sans-serif";
    font-weight: lighter;
}
#of-our{
    color: #131313 ;
    font-size: 2.8rem;
    font-family: "Work Sans, sans-serif";
    font-weight: bolder;
}
#Features{
    color: #FF900E;
    font-size: 2.8rem;
    font-family: "Work Sans, sans-serif";
    font-weight: bolder;
}
.facts {
    max-width: 1440px;
    margin: 0 auto;
  
    
}
.facts p{
    color: #727272;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 100px;
}
.facts-cards {
   display: grid;
   grid-template-columns: repeat(4,1fr);
}
.facts-card{
    border: 3px solid #FF900E;
    width: 250px;
     height: 250px; 
   flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius:8px;
  
}
.fact-head{
    color: #424242;
    font-weight: 600;
   
}
.fact-dis{
    color: #727272;
    font-weight: 600;
    
}
.facts-card  h3{
    
    color: rgb(66, 66, 66);
font-family: Work Sans;
font-size: 2.8rem;
font-weight: 600;
margin-top: 10px;

}

.facts-card  h5{

color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1.2rem;
font-weight: 600;
margin-top: 5px;
}
.facts-content{
    max-width: 542px;
}
.sponsor-content{
   max-width: 540px;
   margin: 50px auto;
   text-align: center;
}
.sponsor-content-heading{
    color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 2.8rem;
font-weight: 700;
line-height: 53px;
letter-spacing: 0%;

}
.sponsor-content-para{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.sponsor-img{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    justify-items: center;
}
.sponsor-img img{
    filter: grayscale(100%);
}
.features{
    margin: 0 auto;
    max-width: 1440px;
    margin-bottom: 50px;
    gap: 140px;
}
.feature-info-head{
border-left: 5px solid #FF900E;
 padding-left: 21px;
color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 2.8rem;
font-weight: 700;


}
.feature-info-para{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;



}
.feature-box{
border-radius: 8px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background: rgb(255, 255, 255);
margin-bottom: 20px;
padding: 20px;
}
/* .feature-box-info{
    padding: 30px
} */
.feature-box h2{
color: rgb(19, 19, 19);
font-family: Work Sans;
font-size: 1.2rem;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;


}
.feature-box p{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;

}
#experience-btn{
    padding: 46px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -77px;
}
#year{
 font-size: 3rem;
 font-weight: bold;
}
.features img{
    width: 100%;
}

@media screen and (max-width:576px) {
    .nav-itmes,.navbar,.main{
        flex-direction: column;
    }
    .main-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .sponsor-img{
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
    }
    .facts-cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 24px;
        

    }
    .facts-card{
        justify-items: center;

    }
    .features{
        flex-direction: column;
    }
    
#experience-btn{
    margin: 0;
   
}
   
}
footer{
text-align: center;
background-color: rgb(255, 244, 231);
max-width: 1440px;
height: 100px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
margin-top: 50px;
}
footer p{
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 1.2rem;
    font-weight: 400;

   
}
@media screen and (min-width:576px) and (max-width:992px) {
    .main{
        flex-direction: column;
    }
    .facts-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        justify-items: center;

    }
    
    .sponsor-img{
        grid-template-columns: repeat(2,1fr);
        gap: 24px;
    }
}